.bg {
  background: url(../../images/workouthome.jpg) no-repeat center center fixed;  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.text {
  color: white;
  font-family: Arial
}